body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: center;
  background-color: orange;
}
.container {
  width: 1280px;
}
.container--content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-container__logo {
  background-color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.header-navigation__link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.header-navigation__link:hover {
  color: black;
}
.skills {
  display: flex;
  justify-content: center;
}
.skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-title__image {
  width: 50px;
  height: 50px
}
.skills-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.skills-block {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  padding: 10px;
  box-sizing: border-box;
}
.skills-block__image {
  width: 150px;
  height: auto;
}
.skills-text {
  margin-left: 15px;
}
.skills-text__title {
  font-weight: bold;
  font-size: 18px;
}
.skills-row {
  display: flex;
  margin-bottom: 20px;
}
.skills-row--reversed {
  flex-direction: row-reverse;
}
.education {
  display: flex;
  justify-content: center;
}
.education-title {
  display: flex;
  align-items: center;
  justify-content: center;

}
.education-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.education-title__image {
  width: 50px;
  height: 50px;
}
.education-block {
  width: 48%;
  background-color: lightblue;
  box-sizing: border-box;
  padding: 10px;
}
.education-block--color-pink {
  background-color: pink;
}
.education-block-title {
  display: flex;
  justify-content: center;
}
.education-block-title__school {
  font-weight: 600;
  margin-bottom: 0;
}
.education-content {
  display: flex;
  justify-content: space-between;
}
