body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  margin-top: -100vh;
}
.container {
  width: 1280px;
}
.site-background{
  display: block;
  height: 100vh;
  width: 100%;
  background-image: url(../img/slide3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: -1
}
.container--content-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 40px;
}
.logo-container__logo {
  background-color: white;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.header-navigation__link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}
.header-navigation__link:hover {
  color: black;
}
.skills {
  display: flex;
  justify-content: center;
}
.skills-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-title__image {
  width: 50px;
  height: 50px
}
.skills-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.skills-block {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 165, 0, 0.7);
  padding: 10px;
  box-sizing: border-box;
}
.skills-block__image {
  width: 150px;
  height: auto;
}
.skills-text {
  margin-left: 15px;
}
.skills-text__title {
  font-weight: bold;
  font-size: 18px;
}
.skills-row {
  display: flex;
  margin-bottom: 20px;
}
.skills-row--reversed {
  flex-direction: row-reverse;
}
.education {
  display: flex;
  justify-content: center;
}
.education-title {
  display: flex;
  align-items: center;
  justify-content: center;

}
.education-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.education-title__image {
  width: 50px;
  height: 50px;
}
.education-block {
  width: 48%;
  background-color: lightblue;
  box-sizing: border-box;
  padding: 10px;
}
.education-block--color-pink {
  background-color: pink;
}
.education-block-title {
  display: flex;
  justify-content: center;
}
.education-block-title__school {
  font-weight: 600;
  margin-bottom: 0;
}
.education-content {
  display: flex;
  justify-content: space-between;
}
.goals {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}
.goals-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goals-title__image {
  width: 50px;
  height: 50px;
}
.goals-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.goals-block {
  background-color: orange;
  padding: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.goals-row {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.goals-row:last-child {
  margin-bottom: 0;
}
.goals-row__number {
  border-radius: 100px;
  background-color: white;
  padding: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: orange;
  color: white;
}
.footer-navigation__link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.footer-navigation__link:hover {
  color: black;
}
.author {
  font-size: 14px;
}
.container--content-center {
  margin: 0 auto;
  width: 700px;
}
.projects {
  padding-bottom: 50px;
}
.slider {
  margin-bottom: 50px;
}
.slick-prev, .slick-next {
  background-color: black;
  border-radius: 10px;
  border: 1px solid white;
}
.slick-prev:hover, .slick-next:hover {
  background-color: black;
}

.slider-nav .slick-track img {
  width: 134px;
  height: 100px;
  object-fit: cover;
}
.slider-nav .slick-track {
  height: 100px;
}
.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-title__image {
  width: 50px;
  height: 50px;
}
.projects-title__text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 10px;
}
.title-color {
  color: rgb(255, 255, 255);
}
.slick-prev, .slick-next {
  border: none;
  width: 40px;
  height: 20px;
}
.slick-prev:before {
  content: "◄";
  left: 0;
}
.slick-next:before {
  content: "►";
  right: 0;
}
.slick-prev:before, .slick-next:before {
  font-size: 50px;
  color: rgb(10, 175, 15);
  line-height: 0;
  position: absolute;
  top: 0;
}
.slick-prev {
  left: -65px;
}
.slick-next {
  right: -65px;
}
.slick-prev:active:before, .slick-next:active:before {
  transform: scale(0.9);
}